<div class="header ui horizontal segments">
  <div class="ui left segment">

    <h1>{{title}}</h1>

  </div>
  <!--<div class="ui center aligned segment">-->
  <!--<p>center</p>-->
  <!--</div>-->
  <div class="ui right aligned segment">
    <p>Logout</p>
  </div>

</div>
