<div class="container">
  <div class="ui visible inverted left vertical sidebar menu">
    <div class="item logo">
      Visity admin
    </div>

    <app-menu></app-menu>

  </div>
  <!--<div class="pusher">-->
  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <!--</div>-->
</div>
