.container{
    background: #EEEEEE;
    height:100%;
}
.menu{
    background: #616161 !important;
}
.logo{
    width: 100%;
    height: 86px;
    /*padding-top: 15px;*/
    text-align: center;
    font-size: 30px;
}
.content{
    margin-left: 260px;
}