<app-header title="{{title}}"></app-header>
<div class="section-content">
  <!--<div class="ui middle aligned divided list">-->
    <!--<div class="item" *ngFor="let service of services">-->
      <!--<div class="right floated content">-->
        <!--<div class="ui button">Edit</div>-->
        <!--<div class="ui button">Delete</div>-->
      <!--</div>-->
      <!--<img class="ui tiny image" src="../../../assets/images/auto.jpg">-->
      <!--<div class="content">-->
        <!--{{service.title}}-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <table class="ui celled padded table">
    <thead>
    <tr><th class="single line">Nazov</th>
      <th>Obrazok</th>
      <th>Categorie</th>
      <th>Obsah</th>
      <th>Moznosti</th>
    </tr></thead>
    <tbody>
    <tr *ngFor="let service of services; let i = index">
      <td class="single line">
        {{service.title}}
      </td>
      <td class="single line">
        <img class="ui tiny image" src="../../../assets/images/auto.jpg">
      </td>
      <td class="right aligned">
        {{service.serviceCategory.title}}
      </td>
      <td>
        {{service.content}}
      </td>
      <td class="single line">

        <div class="ui button" (click)="edit(i)">Edit</div>
        <div class="ui button">Delete</div>
      </td>
    </tr>

    </tbody>
  </table>
  <!--<div class="ui items">-->

  <!--</div>-->
</div>
<div class="ui modal editServiceModal">
  <i class="close icon"></i>
  <div class="header">
    Edit
  </div>
  <div class="image content">

    <div class="image medium">
      <div class="ui blurring dimmable editServiceImage">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted button">Change photo</div>
            </div>
          </div>
        </div>
        <img src="../../../assets/images/auto.jpg">

      </div>
    </div>
    <div class="description">
      <form class="ui form">
        <div class="field">
          <label>Title</label>
          <input type="text" name="service-title" placeholder="Service title" [(ngModel)]="editService.title">
        </div>
        <div class="field">
          <label>Content</label>
          <textarea name="service-content" placeholder="Service content" [(ngModel)]="editService.content"></textarea>
        </div>
        <div class="field">
          <label>Category</label>
          <div class="ui selection dropdown">
            <input type="hidden" name="service-category">
            <i class="dropdown icon"></i>
            <div class="default text">Category</div>
            <div class="menu">
              <div class="item" data-value="1">Male</div>
              <div class="item" data-value="0">Female</div>
            </div>
          </div>
        </div>
      </form>


    </div>
  </div>

  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button" (click)="save()">
      Save
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
