  <a routerLink="/" class="item active">
    <i class="dashboard icon"></i>
    Dashboard
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Content
  </a>
  <a routerLink="/services" class="item">
    <i class="industry icon"></i>
    Services
  </a>
  <a class="item">
    <i class="cubes icon"></i>
    Categories
  </a>
